.linkfooter {
    background-color: #212529;
    
        a:hover{
            background-color: #212529;
            background: rgb(1, 1, 27);
            transition: 0,5s;
            border-radius: 5px;
            color: white;
}
}