@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
}

.bg-dark .container-fluid {
  margin-bottom: 25px;
  margin-top: 25px;
}
.bg-dark .container-fluid a:hover {
  background: black;
  border-radius: 5px;
  color: white;
  transition: box-shadow 0.3s;
}

.logo_header {
  width: 350px;
  height: 85, 5px;
}

.carousel {
  position: relative;
  margin-block: 150px;
  margin-left: 150px;
  margin-right: 150px;
}

.form-control {
  width: 350px;
}

.navbar-collapse {
  font-size: x-large;
}

body {
  background-image: url(../imagenes/descargar.jpg);
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/*Texto de la página F.A.Q*/
.contenedorgrid {
  justify-content: center;
  display: grid;
  width: 100%;
  height: 50%;
  margin-bottom: 5%;
  margin-top: 5%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "boxmodel1 boxmodel2";
}

.boxmodel1 {
  margin-left: 15px;
  grid-area: boxmodel1;
}

.boxmodel2 {
  margin-right: 15px;
  grid-area: boxmodel2;
}

h1.titulo {
  text-align: center;
  color: white;
}

/*Texto de la página contacto*/
.contacto {
  margin-top: 5%;
  margin-left: 1%;
  font-family: "Montserrat", sans-serif;
  font-size: 150%;
  color: white;
}

/*Estilos al pasar el mouse sobre los menues*/
a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.text-uppercase {
  text-transform: uppercase !important;
  color: blueviolet;
  font-size: x-large;
  margin-left: 35px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 35px;
  text-align: center;
  color: white;
}

ul {
  margin-left: 35px;
}

.menu {
  margin-bottom: 2px;
}
.menu ul {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-transform: uppercase;
  justify-content: center;
  margin-top: 15%;
  padding-bottom: 1%;
}
.menu ul li {
  display: inline-block;
  padding: 10px;
}

.pt-4 {
  padding-top: 1.5rem !important;
  background-color: #212529;
}

.linkfooter {
  background-color: #212529;
}
.linkfooter a:hover {
  background-color: #212529;
  background: #01011b;
  transition: 0, 5s;
  border-radius: 5px;
  color: white;
}

/*Gmaps*/
.mapouter {
  margin: 25px auto;
  height: 600px;
  width: 700px;
  display: flex;
}
.mapouter .gmap_canvas {
  display: flex;
  float: left;
  overflow: hidden;
  background: none !important;
  height: 600px;
  width: 700px;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  .contenedorgrid {
    display: grid;
    width: 100%;
    height: 100%;
    text-align: justify;
    margin-top: 0%;
    grid-template-columns: 300px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "boxmodel1" "boxmodel2";
  }

  .boxmodel1 {
    grid-area: boxmodel1;
  }

  .boxmodel2 {
    grid-area: boxmodel2;
  }

  h1.titulo {
    text-align: center;
  }

  p {
    font-size: small;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1080px) {
  body {
    background-size: cover;
  }

  .contenedorgrid {
    display: grid;
    width: 100%;
    height: 100%;
    text-align: justify;
    margin-top: 0%;
    grid-template-columns: 300px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "boxmodel1" "boxmodel2";
  }

  .boxmodel1 {
    margin-top: 15%;
  }

  .boxmodel2 {
    margin-top: 25%;
    margin-left: 25px;
  }

  h1.titulo {
    text-align: center;
  }
}/*# sourceMappingURL=estilos.css.map */