@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

@mixin medidas ($height, $width) {

    height: $height;
    width: $width;

}


body {
    @include medidas(100%, 100%);
    background-image: url(../imagenes/descargar.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}



a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

@import "_faq";
@import "_footer";
@import "_mapa";
@import "_tarjetas";
@import "_imagenesfooter";
@import "_header";
@import "_contacto";
@import "carousel";

@media only screen and (max-width:700px) {
    .list-inline-item img {

        width: 75px;
        height: 75px;
    }

    .carousel {
        position: relative;
        margin-block: 15%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .contenedorgrid {
        @include medidas(100%, 100%);
        display: grid;
        text-align: justify;
        margin-top: 0%;
        grid-template-columns: 300px;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "boxmodel1"
            "boxmodel2"
        ;
    }

    .boxmodel1 {
        color: red;
    }

    .boxmodel2 {
        color: blue;
    }

    h1.titulo {

        text-align: center;
    }

    p {
        font-size: small;

    }
}

@media only screen and (min-width:701px) and (max-width:1080px) {
    body {
        @include medidas(100%, 100%);
        background-size: cover;
    }

    .list-inline-item img {

        width: 100px;
        height: 100px;
    }

    .carousel {
        position: relative;
        margin-block: 15%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .contenedorgrid {
        @include medidas(100%, 100%);
        display: grid;
        text-align: justify;
        margin-top: 0%;
        grid-template-columns: 300px;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:

            "boxmodel1"
            "boxmodel2"
        ;

    }

    .boxmodel1 {
        margin-top: 15%;
    }

    .boxmodel2 {
        margin-top: 25%;
        margin-left: 25px;
    }

    h1.titulo {

        text-align: center;
    }
}